Repository CMPUT301F22T13/GROUP13-MEAL-PLANNING-PROJECT, pull requests merged in 2022-11, with the labels that each got.

#102 Meal plan storage
  app/src/main/AndroidManifest.xml
  app/src/main/check_icon-playstore.png
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/IngredientItem.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/Item.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/MealPlan.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/MealPlanItem.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/RecipeItem.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/ItemArrayAdapter.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanActivity.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanAddIngredientFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanAddRecipeFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanArrayAdapter.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanDateArrayAdapter.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanMainFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/mealplanstorage/MealPlanViewFragment.java
  app/src/main/res/drawable/check_icon_foreground.xml
  app/src/main/res/layout/activity_meal_plan.xml
  app/src/main/res/layout/content_ingredient_list.xml
  app/src/main/res/layout/content_item_list.xml
  app/src/main/res/layout/content_meal_plan.xml
  app/src/main/res/layout/content_meal_plan_date_list.xml
  app/src/main/res/layout/content_meal_plan_list.xml
  app/src/main/res/layout/fragment_meal_plan_add_ingredient.xml
  app/src/main/res/layout/fragment_meal_plan_add_recipe.xml
  app/src/main/res/layout/fragment_meal_plan_main.xml
  app/src/main/res/layout/fragment_meal_plan_view.xml
  app/src/main/res/mipmap-anydpi-v26/check_icon.xml
  app/src/main/res/mipmap-anydpi-v26/check_icon_round.xml
  app/src/main/res/mipmap-hdpi/check_icon.png
  app/src/main/res/mipmap-hdpi/check_icon_round.png
  app/src/main/res/mipmap-mdpi/check_icon.png
  app/src/main/res/mipmap-mdpi/check_icon_round.png
  app/src/main/res/mipmap-xhdpi/check_icon.png
  app/src/main/res/mipmap-xhdpi/check_icon_round.png
  app/src/main/res/mipmap-xxhdpi/check_icon.png
  app/src/main/res/mipmap-xxhdpi/check_icon_round.png
  app/src/main/res/mipmap-xxxhdpi/check_icon.png
  app/src/main/res/mipmap-xxxhdpi/check_icon_round.png
  app/src/main/res/navigation/meal_plan_nav_graph.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/check_icon_background.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/example/cmput301f22t13/domainlayer/item/MealPlanTest.java
Labels: Meal Plan

#105 Ingredient storage UI
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/AddEditViewIngredientFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientListAdapter.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientStorageActivity.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientStorageMainFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientViewFragment.java
  app/src/main/res/drawable/list_item_background.xml
  app/src/main/res/drawable/noimage.png
  app/src/main/res/layout/content_ingredient_list.xml
  app/src/main/res/layout/content_ingredient_sort_popup.xml
  app/src/main/res/layout/content_ingredient_storage.xml
  app/src/main/res/layout/fragment_add_edit_view_ingredient.xml
  app/src/main/res/layout/fragment_ingredient_storage_main.xml
  app/src/main/res/layout/fragment_ingredient_view.xml
  app/src/main/res/navigation/ingredient_storage_nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
Labels: Ingredient Storage

#110 Final layout style
  app/src/main/java/com/example/cmput301f22t13/uilayer/recipestorage/AddEditViewRecipeFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/recipestorage/AddIngredientToRecipeFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/recipestorage/RecipeStorageActivity.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/recipestorage/RecipeStorageFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/recipestorage/ViewRecipeFragment.java
  app/src/main/res/drawable/loadingscreen.png
  app/src/main/res/drawable/recipe_item_background_shiv.xml
  app/src/main/res/layout/content_recipe_list.xml
  app/src/main/res/layout/fragment_add_edit_ingredient_for_recipe.xml
  app/src/main/res/layout/fragment_add_edit_view_recipe.xml
  app/src/main/res/layout/fragment_add_ingredient_to_recipe.xml
  app/src/main/res/layout/fragment_recipe_storage.xml
Labels: Recipes

#112 Ingredient storage UI
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/IngredientItem.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientListAdapter.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientStorageMainFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientViewFragment.java
  app/src/main/res/drawable/ingredient_list_item_background.xml
  app/src/main/res/layout/content_ingredient_list.xml
  app/src/main/res/layout/fragment_add_edit_view_ingredient.xml
  app/src/main/res/layout/fragment_ingredient_view.xml
  app/src/main/res/values/colors.xml
Labels: Ingredient Storage
