Repository CMPUT301F22T13/GROUP13-MEAL-PLANNING-PROJECT, pull requests merged in 2022-10, with the labels that each got.

#43 Created skeleton for project
  app/src/main/java/com/example/cmput301f22t13/datalayer/FireBaseDL.java
  app/src/main/java/com/example/cmput301f22t13/datalayer/IngredientDL.java
  app/src/main/java/com/example/cmput301f22t13/datalayer/MealPlanDL.java
  app/src/main/java/com/example/cmput301f22t13/datalayer/RecipeDL.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/IngredientItem.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/MealPlanItem.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/RecipeItem.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/storage/IngredientStorage.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/storage/MealPlanStorage.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/storage/RecipeStorage.java
  app/src/main/java/com/example/cmput301f22t13/domainlayer/storage/ShoppingListStorage.java
Labels: enhancement

#54 Created RecipeItem class for the domain layer of the application
  app/src/main/java/com/example/cmput301f22t13/domainlayer/item/RecipeItem.java
Labels: Recipes

#56 Logan thimer
  app/build.gradle
  app/src/androidTest/java/com/example/cmput301f22t13/IngredientStorageActivityTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/AddEditViewIngredientFragment.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientListAdapter.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientStorageActivity.java
  app/src/main/java/com/example/cmput301f22t13/uilayer/ingredientstorage/IngredientStorageMainFragment.java
  app/src/main/res/layout/activity_ingredient_storage.xml
  app/src/main/res/layout/content_ingredient_list.xml
  app/src/main/res/layout/content_ingredient_sort_popup.xml
  app/src/main/res/layout/content_ingredient_storage.xml
  app/src/main/res/layout/fragment_add_edit_view_ingredient.xml
  app/src/main/res/layout/fragment_ingredient_storage_main.xml
  app/src/main/res/navigation/ingredient_storage_nav_graph.xml
Labels: Ingredient Storage

#55 IngredientStorageDL #51
  app/src/main/java/com/example/cmput301f22t13/domainlayer/storage/IngredientStorage.java
Labels: Ingredient Storage
